<p>1.Cargar todos los datasets que os hemos compartido en este pair programming.</p>

In [2]:
import pandas as pd

In [3]:
dataframe_empleados = pd.read_csv('datos/Empleados.csv')

In [4]:
dataframe_2016 = pd.read_excel("datos/2016.xlsx")

In [5]:
dataframe_agentes = pd.read_csv("datos/Agentes.csv")

In [19]:
dataframe_puestos = pd.read_excel("datos/Puestos.xlsx")

<p>2. Haced una exploraci칩n b치sica cada uno de los DataFrames, esta exploraci칩n debe incluir:</p>
<ul>
<li>쮺u치ntas filas y columnas tiene el DataFrame?</li>
<li>Mostrad las primeras cinco filas y las 칰ltimas cinco filas del DataFrame.</li>
<li>Mostrad 2 filas al azar del DataFrame.</li>
<li>쮺u치l es el nombre de las columnas del DataFrame?</li>
<li>쮺u치les son los principales est치disticos del DataFrame? Mostrad por separado las variables categ칩ricas y las variables num칠ricas.</li>
<li>쮺u치l es el porcentaje de valores nulos en cada columna?</li>
<li>쮺u치ntos valores 칰nicos tenemos para cada una de las columnas?</li>
<li>De aquellas columnas que tengan menos de 6 elementos 칰nicos mostrad cada uno de sus valores 칰nicos.</li>
<li>游늷 NOTA Fijaos que vamos a hacer lo mismo para cada archivo que tenemos. Una buena pr치ctica ser칤a crearnos una funci칩n que apliquemos a cada conjunto de datos. Nuestra funci칩n recibir치 un par치metro, que ser치 el dataframe entero </li>
<li>游늷 NOTA Nos estamos convirtiendo en analistas de datos y no nos debe valer solo con escribir el c칩digo, os recomendamos que reviseis bien los resultados y empezais a extraer algunas conclusiones. 쮿ay datos raros en nuestros conjuntos de datos? 쯊enemos nulos?, etc.</li>
</ul>

In [6]:
def dataframe_exploracion (dataframe):
    print(f'El dataframe tiene forma {dataframe.shape}')
    print(f'Las primeras cinco filas del DataFrame son: \n {dataframe.head()}')
    print(f"Las cinco 칰ltimas filas del Dataframe son: \n {dataframe.tail()}")
    print(f"El nombre de las columnas del Dataframe es", dataframe.columns)
    print(f'Los principales estad칤sticos del Dataframe son', dataframe.describe())
    print(f'El porcentaje de valores nulos es igual: {dataframe.isnull().sum()/100} %')
    print(f'Los valores 칰nicos para cada columna son:')
    for col in dataframe.columns:
        print(f'El n칰mero de valores 칰nicos de la columna {col} es {len(dataframe[col].unique())}')
    for col in dataframe.columns:
        if len(dataframe[col].unique()) > 6: 
            print(f"Los valores 칰nicos de {col} son: {dataframe[col].unique()}")

In [7]:
dataframe_exploracion(dataframe_agentes)

El dataframe tiene forma (50, 4)
Las primeras cinco filas del DataFrame son:
    ID Agente               Nombre                              email  \
0          1          Mata Lucero          lucero.mata@tractchun.com
1          2         JesusGrajeda        jesus.grajeda@tractchun.com
2          3          Elena Velez          elena.velez@tractchun.com
3          4      Barraza Alberto      alberto.barraza@tractchun.com
4          5  Willyberto Gonzales  willyberto.gonzales@tractchun.com

  Fecha de Nacimiento
0           1989/4/28
1            1979/1/1
2            1993/6/6
3          1978/10/20
4           1973/5/11
Las cinco 칰ltimas filas del Dataframe son:
     ID Agente           Nombre                          email  \
45         46      Rosa Olguin      rosa.olguin@tractchun.com
46         47  Yomaira Agudelo  yomaira.agudelo@tractchun.com
47         48   Aurelio Tanori   aurelio.tanori@tractchun.com
48         49   Armando Sierra   armando.sierra@tractchun.com
49         50     Ramon Macias     ramon.macias@tractchun.com

   Fecha de Nacimiento
45           1985/5/30
46          1974/12/15
47           1979/8/29
48            1991/4/5
49            1980/3/4
El nombre de las columnas del Dataframe es Index(['ID Agente', 'Nombre', 'email', 'Fecha de Nacimiento'], dtype='object')
Los principales estad칤sticos del Dataframe son        ID Agente
count   50.00000
mean    25.50000
std     14.57738
min      1.00000
25%     13.25000
50%     25.50000
75%     37.75000
max     50.00000
El porcentaje de valores nulos es igual: ID Agente              0.0
Nombre                 0.0
email                  0.0
Fecha de Nacimiento    0.0
dtype: float64 %
Los valores 칰nicos para cada columna son:
El n칰mero de valores 칰nicos de la columna ID Agente es 50
El n칰mero de valores 칰nicos de la columna Nombre es 50
El n칰mero de valores 칰nicos de la columna email es 50
El n칰mero de valores 칰nicos de la columna Fecha de Nacimiento es 50
Los valores 칰nicos de ID Agente son: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50]
Los valores 칰nicos de Nombre son: ['Mata Lucero' 'JesusGrajeda' 'Elena Velez' 'Barraza Alberto'
 'Willyberto Gonzales' 'A. Trejo' 'Estuardo Oca침o' 'Marisol Piedrahita'
 'Velasquez Jose' 'Alberto Casillas' 'Lopez Moran.' 'Javier D.'
 'Griselda Galindo' 'EstuardoTorres' 'Galindo Guadalupe' 'Orci Carlos'
 'Leon Lourdes' 'Miller Gaviria' 'Alfonso Barraza' 'Eduardo Luna'
 'Alberto Gastelum' 'Lorena' 'Guadalupe Hernandez' 'Barbara Grijalva'
 'Sandra Lujan ' 'Flores Sierra' 'Isela Leyva' 'Nurio Zepeda'
 'Segura Garcia' 'Parra Luna' 'Guadalupe Torrico' 'Silvia Morales'
 'Guadalupe Villanueva' 'Diana Rojo' 'Melinda' 'Luis Torres'
 'Jesus Pacheco' 'Enrique Montiel' 'Jesus Contreras' 'Alfredo Barreras'
 'Aldo Carrillo' 'Darwin E.' 'Reyna Santacruz' 'Eva Cardenas'
 'Luis Arguello' 'Rosa Olguin' 'Yomaira Agudelo' 'Aurelio Tanori'
 'Armando Sierra' 'Ramon Macias']
Los valores 칰nicos de email son: ['lucero.mata@tractchun.com' 'jesus.grajeda@tractchun.com'
 'elena.velez@tractchun.com' 'alberto.barraza@tractchun.com'
 'willyberto.gonzales@tractchun.com' 'alberto.trejo@tractchun.com'
 'estuardo.oca침o@tractchun.com' 'marisol.piedrahita@tractchun.com'
 'jose.velasquez@tractchun.com' 'alberto.casillas@tractchun.com'
 'lopez.moran@tractchun.com' 'javier.davila@tractchun.com'
 'griselda.galindo@tractchun.com' 'estuardo.torres@tractchun.com'
 'guadalupe.galindo@tractchun.com' 'carlos.orci@tractchun.com'
 'lourdes.leon@tractchun.com' 'miller.gaviria@tractchun.com'
 'alfonso.barraza@tractchun.com' 'eduardo.luna@tractchun.com'
 'alberto.gastelum@tractchun.com' 'lorena.leon@tractchun.com'
 'guadalupe.hernandez@tractchun.com' 'barbara.grijalva@tractchun.com'
 'sandra.lujan@tractchun.com' 'flores.sierra@tractchun.com'
 'isela.leyva@tractchun.com' 'nurio.zepeda@tractchun.com'
 'segura.garcia@tractchun.com' 'parra.luna@tractchun.com'
 'guadalupe.torrico@tractchun.com' 'silvia.morales@tractchun.com'
 'guadalupe.villanueva@tractchun.com' 'diana.rojo@tractchun.com'
 'melinda.barcelo@tractchun.com' 'luis.torres@tractchun.com'
 'jesus.pacheco@tractchun.com' 'enrique.montiel@tractchun.com'
 'jesus.contreras@tractchun.com' 'alfredo.barreras@tractchun.com'
 'aldo.carrillo@tractchun.com' 'darwin.echeverry@tractchun.com'
 'reyna.santacruz@tractchun.com' 'eva.cardenas@tractchun.com'
 'luis.arguello@tractchun.com' 'rosa.olguin@tractchun.com'
 'yomaira.agudelo@tractchun.com' 'aurelio.tanori@tractchun.com'
 'armando.sierra@tractchun.com' 'ramon.macias@tractchun.com']
Los valores 칰nicos de Fecha de Nacimiento son: ['1989/4/28' '1979/1/1' '1993/6/6' '1978/10/20' '1973/5/11' '1988/3/9'
 '1980/9/23' '1993/10/28' '1981/1/9' '1993/2/1' '1980/4/21' '1976/5/22'
 '1996/2/3' '1995/12/21' '1995/6/16' '1982/10/26' '1971/12/28' '1980/10/9'
 '1990/5/13' '1983/11/22' '1996/10/10' '1996/7/16' '1986/6/12' '1972/6/5'
 '1988/11/17' '1982/3/15' '1987/4/18' '1982/4/4' '1972/11/14' '1995/6/17'
 '1993/3/18' '1980/6/16' '1975/1/15' '1996/3/9' '1996/5/30' '1982/7/18'
 '1980/6/15' '1985/2/27' '1983/10/20' '1974/10/19' '1982/8/1' '1991/7/16'
 '1984/6/7' '1987/10/4' '1982/9/22' '1985/5/30' '1974/12/15' '1979/8/29'
 '1991/4/5' '1980/3/4']

In [8]:
dataframe_exploracion(dataframe_2016)

El dataframe tiene forma (13051, 12)
Las primeras cinco filas del DataFrame son:
            ID Ticket      Fecha  ID Empleado  ID Agente      Categor칤a  \
0  GDDENR-5042564453 2016-07-13       1735.0        4.0  Acceso&%Login
1  GDDENR-8042508060 2016-05-18       1566.0       10.0  Acceso&%Login
2  GDDESR-1342539995 2016-06-18        569.0       29.0        Sistema
3  GDDTSR-5942488006 2016-04-28        320.0       40.0        Sistema
4  GDLEER-0042524120 2016-06-03       1842.0       31.0       Software

        Tipo           Severidad        Prioridad  D칤as Resoluci칩n  \
0   Problema  0 - Sin Clasificar  0 - Sin Asignar              0.0
1   Problema  0 - Sin Clasificar  0 - Sin Asignar              0.0
2   Problema  0 - Sin Clasificar  0 - Sin Asignar              3.0
3  Solicitud  0 - Sin Clasificar  0 - Sin Asignar              9.0
4   Problema          2 - Normal  0 - Sin Asignar              0.0

   Satisfacci칩n               Web  칈ndice
0           5.0  www.tractchun.es      1.0
1           5.0  www.tractchun.es      1.0
2           5.0  www.tractchun.es      1.0
3           5.0  www.tractchun.es      1.0
4           5.0  www.tractchun.es      1.0
Las cinco 칰ltimas filas del Dataframe son:
                ID Ticket      Fecha  ID Empleado  ID Agente Categor칤a  \
13046  TWRTSR-6442574526 2016-07-23        962.0       25.0   Sistema
13047  TWRTSR-7142570866 2016-07-19        126.0       38.0   Sistema
13048  TWRTSR-7742498308 2016-05-08        510.0        3.0   Sistema
13049  TWRTSR-8642558628 2016-07-07       1942.0       26.0   Sistema
13050  TWRTSR-8742628897 2016-09-15        919.0        8.0   Sistema

            Tipo  Severidad Prioridad  D칤as Resoluci칩n  Satisfacci칩n  \
13046  Solicitud  1 - Menor  1 - Baja             14.0           4.0
13047  Solicitud  3 - Mayor  1 - Baja             13.0           5.0
13048  Solicitud  3 - Mayor  1 - Baja              2.0           5.0
13049  Solicitud  1 - Menor  1 - Baja             16.0           4.0
13050  Solicitud  1 - Menor  1 - Baja              7.0           4.0

                    Web  칈ndice
13046  www.tractchun.es      1.0
13047  www.tractchun.es      1.0
13048  www.tractchun.es      1.0
13049  www.tractchun.es      1.0
13050  www.tractchun.es      1.0
El nombre de las columnas del Dataframe es Index(['ID Ticket', 'Fecha', 'ID Empleado', 'ID Agente', 'Categor칤a', 'Tipo',
       'Severidad', 'Prioridad', 'D칤as Resoluci칩n', 'Satisfacci칩n', 'Web',
       '칈ndice '],
      dtype='object')
Los principales estad칤sticos del Dataframe son         ID Empleado     ID Agente  D칤as Resoluci칩n  Satisfacci칩n  칈ndice
count  13049.000000  13050.000000     13049.000000  13037.000000  13038.0
mean     999.737988     25.425134         4.551843      3.979673      1.0
std      580.422512     14.363362         4.352681      1.326657      0.0
min        1.000000      1.000000         0.000000      1.000000      1.0
25%      499.000000     13.000000         0.000000      4.000000      1.0
50%      995.000000     26.000000         4.000000      4.000000      1.0
75%     1505.000000     38.000000         7.000000      5.000000      1.0
max     2000.000000     50.000000        21.000000      5.000000      1.0
El porcentaje de valores nulos es igual: ID Ticket          0.01
Fecha              0.26
ID Empleado        0.02
ID Agente          0.01
Categor칤a          0.13
Tipo               0.01
Severidad          0.26
Prioridad          0.26
D칤as Resoluci칩n    0.02
Satisfacci칩n       0.14
Web                0.27
칈ndice             0.13
dtype: float64 %
Los valores 칰nicos para cada columna son:
El n칰mero de valores 칰nicos de la columna ID Ticket es 13051
El n칰mero de valores 칰nicos de la columna Fecha es 367
El n칰mero de valores 칰nicos de la columna ID Empleado es 2000
El n칰mero de valores 칰nicos de la columna ID Agente es 51
El n칰mero de valores 칰nicos de la columna Categor칤a es 5
El n칰mero de valores 칰nicos de la columna Tipo es 3
El n칰mero de valores 칰nicos de la columna Severidad es 6
El n칰mero de valores 칰nicos de la columna Prioridad es 5
El n칰mero de valores 칰nicos de la columna D칤as Resoluci칩n es 22
El n칰mero de valores 칰nicos de la columna Satisfacci칩n es 6
El n칰mero de valores 칰nicos de la columna Web es 2
El n칰mero de valores 칰nicos de la columna 칈ndice  es 2
Los valores 칰nicos de ID Ticket son: ['GDDENR-5042564453' 'GDDENR-8042508060' 'GDDESR-1342539995' ...
 'TWRTSR-7742498308' 'TWRTSR-8642558628' 'TWRTSR-8742628897']
Los valores 칰nicos de Fecha son: ['2016-07-13T00:00:00.000000000' '2016-05-18T00:00:00.000000000'
 '2016-06-18T00:00:00.000000000' '2016-04-28T00:00:00.000000000'
 '2016-06-03T00:00:00.000000000' '2016-08-26T00:00:00.000000000'
 '2016-07-23T00:00:00.000000000' '2016-03-28T00:00:00.000000000'
 '2016-06-21T00:00:00.000000000' '2016-08-29T00:00:00.000000000'
 '2016-05-28T00:00:00.000000000' '2016-01-16T00:00:00.000000000'
 '2016-09-29T00:00:00.000000000' '2016-10-23T00:00:00.000000000'
 '2016-12-27T00:00:00.000000000' '2016-10-31T00:00:00.000000000'
 '2016-08-13T00:00:00.000000000' '2016-09-15T00:00:00.000000000'
 '2016-12-08T00:00:00.000000000' '2016-12-23T00:00:00.000000000'
 '2016-11-25T00:00:00.000000000' '2016-05-25T00:00:00.000000000'
 '2016-08-24T00:00:00.000000000' '2016-10-22T00:00:00.000000000'
 '2016-03-13T00:00:00.000000000' '2016-10-13T00:00:00.000000000'
 '2016-11-09T00:00:00.000000000' '2016-04-29T00:00:00.000000000'
 '2016-01-11T00:00:00.000000000' '2016-09-23T00:00:00.000000000'
 '2016-11-04T00:00:00.000000000' '2016-09-21T00:00:00.000000000'
 '2016-02-15T00:00:00.000000000' '2016-10-02T00:00:00.000000000'
 '2016-10-12T00:00:00.000000000' '2016-09-17T00:00:00.000000000'
 '2016-03-08T00:00:00.000000000' '2016-01-02T00:00:00.000000000'
 '2016-04-12T00:00:00.000000000' '2016-01-09T00:00:00.000000000'
 '2016-03-12T00:00:00.000000000' '2016-01-08T00:00:00.000000000'
 '2016-02-12T00:00:00.000000000' '2016-10-08T00:00:00.000000000'
 '2016-10-14T00:00:00.000000000' '2016-10-06T00:00:00.000000000'
 '2016-12-07T00:00:00.000000000' '2016-10-03T00:00:00.000000000'
 '2016-09-02T00:00:00.000000000' '2016-09-13T00:00:00.000000000'
 '2016-09-24T00:00:00.000000000' '2016-11-21T00:00:00.000000000'
 '2016-08-07T00:00:00.000000000' '2016-05-13T00:00:00.000000000'
 '2016-05-23T00:00:00.000000000' '2016-09-16T00:00:00.000000000'
 '2016-12-01T00:00:00.000000000' '2016-01-17T00:00:00.000000000'
 '2016-01-28T00:00:00.000000000' '2016-09-26T00:00:00.000000000'
 '2016-03-29T00:00:00.000000000' '2016-01-23T00:00:00.000000000'
 '2016-04-24T00:00:00.000000000' '2016-04-27T00:00:00.000000000'
 '2016-11-12T00:00:00.000000000' '2016-12-02T00:00:00.000000000'
 '2016-02-07T00:00:00.000000000' '2016-12-03T00:00:00.000000000'
 '2016-12-19T00:00:00.000000000' '2016-02-06T00:00:00.000000000'
 '2016-02-21T00:00:00.000000000' '2016-03-05T00:00:00.000000000'
 '2016-03-26T00:00:00.000000000' '2016-06-26T00:00:00.000000000'
 '2016-10-25T00:00:00.000000000' '2016-06-02T00:00:00.000000000'
 '2016-01-04T00:00:00.000000000' '2016-01-21T00:00:00.000000000'
 '2016-07-12T00:00:00.000000000' '2016-07-21T00:00:00.000000000'
 '2016-09-12T00:00:00.000000000' '2016-11-02T00:00:00.000000000'
 '2016-11-24T00:00:00.000000000' '2016-11-28T00:00:00.000000000'
 '2016-03-02T00:00:00.000000000' '2016-06-20T00:00:00.000000000'
 '2016-06-16T00:00:00.000000000' '2016-02-08T00:00:00.000000000'
 '2016-02-23T00:00:00.000000000' '2016-04-09T00:00:00.000000000'
 '2016-06-17T00:00:00.000000000' '2016-07-16T00:00:00.000000000'
 '2016-08-11T00:00:00.000000000' '2016-09-25T00:00:00.000000000'
 '2016-11-27T00:00:00.000000000' '2016-12-05T00:00:00.000000000'
 '2016-12-21T00:00:00.000000000' '2016-12-26T00:00:00.000000000'
 '2016-06-09T00:00:00.000000000' '2016-06-15T00:00:00.000000000'
 '2016-07-30T00:00:00.000000000' '2016-08-06T00:00:00.000000000'
 '2016-07-27T00:00:00.000000000' '2016-09-20T00:00:00.000000000'
 '2016-04-04T00:00:00.000000000' '2016-06-13T00:00:00.000000000'
 '2016-08-31T00:00:00.000000000' '2016-10-30T00:00:00.000000000'
 '2016-07-10T00:00:00.000000000' '2016-01-20T00:00:00.000000000'
 '2016-02-24T00:00:00.000000000' '2016-05-04T00:00:00.000000000'
 '2016-08-30T00:00:00.000000000' '2016-10-01T00:00:00.000000000'
 '2016-03-10T00:00:00.000000000' '2016-08-03T00:00:00.000000000'
 '2016-11-10T00:00:00.000000000' '2016-05-01T00:00:00.000000000'
 '2016-10-18T00:00:00.000000000' '2016-05-07T00:00:00.000000000'
 '2016-07-07T00:00:00.000000000' '2016-05-27T00:00:00.000000000'
 '2016-04-08T00:00:00.000000000' '2016-08-28T00:00:00.000000000'
 '2016-01-01T00:00:00.000000000' '2016-02-19T00:00:00.000000000'
 '2016-08-25T00:00:00.000000000' '2016-05-20T00:00:00.000000000'
 '2016-06-27T00:00:00.000000000' '2016-03-23T00:00:00.000000000'
 '2016-02-03T00:00:00.000000000' '2016-02-11T00:00:00.000000000'
 '2016-10-05T00:00:00.000000000' '2016-06-04T00:00:00.000000000'
 '2016-01-31T00:00:00.000000000' '2016-02-25T00:00:00.000000000'
 '2016-04-03T00:00:00.000000000' '2016-05-31T00:00:00.000000000'
 '2016-08-05T00:00:00.000000000' '2016-11-13T00:00:00.000000000'
 '2016-02-29T00:00:00.000000000' '2016-03-31T00:00:00.000000000'
 '2016-01-06T00:00:00.000000000' '2016-05-14T00:00:00.000000000'
 '2016-04-18T00:00:00.000000000' '2016-03-14T00:00:00.000000000'
 '2016-01-05T00:00:00.000000000' '2016-04-06T00:00:00.000000000'
 '2016-07-29T00:00:00.000000000' '2016-03-21T00:00:00.000000000'
 '2016-04-15T00:00:00.000000000' '2016-07-24T00:00:00.000000000'
 '2016-04-17T00:00:00.000000000' '2016-09-18T00:00:00.000000000'
 '2016-12-06T00:00:00.000000000' '2016-12-20T00:00:00.000000000'
 '2016-06-08T00:00:00.000000000' '2016-12-29T00:00:00.000000000'
 '2016-11-06T00:00:00.000000000' '2016-06-05T00:00:00.000000000'
 '2016-01-18T00:00:00.000000000' '2016-04-02T00:00:00.000000000'
 '2016-07-11T00:00:00.000000000' '2016-08-20T00:00:00.000000000'
 '2016-02-17T00:00:00.000000000' '2016-10-11T00:00:00.000000000'
 '2016-12-18T00:00:00.000000000' '2016-04-20T00:00:00.000000000'
 '2016-09-09T00:00:00.000000000' '2016-12-30T00:00:00.000000000'
 '2016-01-26T00:00:00.000000000' '2016-08-12T00:00:00.000000000'
 '2016-07-09T00:00:00.000000000' '2016-07-14T00:00:00.000000000'
 '2016-02-10T00:00:00.000000000' '2016-09-14T00:00:00.000000000'
 '2016-08-14T00:00:00.000000000' '2016-01-27T00:00:00.000000000'
 '2016-11-18T00:00:00.000000000' '2016-02-26T00:00:00.000000000'
 '2016-07-22T00:00:00.000000000' '2016-06-12T00:00:00.000000000'
 '2016-02-16T00:00:00.000000000' '2016-07-06T00:00:00.000000000'
 '2016-04-05T00:00:00.000000000' '2016-02-20T00:00:00.000000000'
 '2016-04-07T00:00:00.000000000' '2016-01-29T00:00:00.000000000'
 '2016-03-18T00:00:00.000000000' '2016-05-06T00:00:00.000000000'
 '2016-10-24T00:00:00.000000000' '2016-08-08T00:00:00.000000000'
 '2016-04-13T00:00:00.000000000' '2016-12-15T00:00:00.000000000'
 '2016-04-14T00:00:00.000000000' '2016-10-19T00:00:00.000000000'
 '2016-07-28T00:00:00.000000000' '2016-06-07T00:00:00.000000000'
 '2016-07-17T00:00:00.000000000' '2016-05-15T00:00:00.000000000'
 '2016-05-08T00:00:00.000000000' '2016-06-24T00:00:00.000000000'
 '2016-11-17T00:00:00.000000000' '2016-05-12T00:00:00.000000000'
 '2016-09-30T00:00:00.000000000' '2016-10-26T00:00:00.000000000'
 '2016-07-04T00:00:00.000000000' '2016-03-24T00:00:00.000000000'
 '2016-11-11T00:00:00.000000000' '2016-03-07T00:00:00.000000000'
 '2016-08-16T00:00:00.000000000' '2016-12-31T00:00:00.000000000'
 '2016-11-22T00:00:00.000000000' '2016-03-25T00:00:00.000000000'
 '2016-06-11T00:00:00.000000000' '2016-02-02T00:00:00.000000000'
 '2016-03-15T00:00:00.000000000' '2016-01-03T00:00:00.000000000'
 '2016-03-03T00:00:00.000000000' '2016-12-09T00:00:00.000000000'
 '2016-10-09T00:00:00.000000000' '2016-06-01T00:00:00.000000000'
 '2016-09-22T00:00:00.000000000' '2016-06-14T00:00:00.000000000'
 '2016-05-26T00:00:00.000000000' '2016-04-21T00:00:00.000000000'
 '2016-12-16T00:00:00.000000000' '2016-08-15T00:00:00.000000000'
 '2016-01-15T00:00:00.000000000' '2016-01-24T00:00:00.000000000'
 '2016-02-18T00:00:00.000000000' '2016-08-18T00:00:00.000000000'
 '2016-12-11T00:00:00.000000000' '2016-09-06T00:00:00.000000000'
 '2016-11-03T00:00:00.000000000' '2016-05-19T00:00:00.000000000'
 '2016-11-19T00:00:00.000000000' '2016-07-26T00:00:00.000000000'
 '2016-02-04T00:00:00.000000000'                           'NaT'
 '2016-06-25T00:00:00.000000000' '2016-11-30T00:00:00.000000000'
 '2016-09-05T00:00:00.000000000' '2016-01-12T00:00:00.000000000'
 '2016-08-09T00:00:00.000000000' '2016-07-05T00:00:00.000000000'
 '2016-10-28T00:00:00.000000000' '2016-11-05T00:00:00.000000000'
 '2016-09-10T00:00:00.000000000' '2016-06-23T00:00:00.000000000'
 '2016-07-18T00:00:00.000000000' '2016-01-07T00:00:00.000000000'
 '2016-08-02T00:00:00.000000000' '2016-06-22T00:00:00.000000000'
 '2016-04-25T00:00:00.000000000' '2016-02-13T00:00:00.000000000'
 '2016-07-02T00:00:00.000000000' '2016-07-25T00:00:00.000000000'
 '2016-05-02T00:00:00.000000000' '2016-08-27T00:00:00.000000000'
 '2016-11-15T00:00:00.000000000' '2016-09-03T00:00:00.000000000'
 '2016-04-23T00:00:00.000000000' '2016-06-19T00:00:00.000000000'
 '2016-06-30T00:00:00.000000000' '2016-11-16T00:00:00.000000000'
 '2016-07-19T00:00:00.000000000' '2016-09-08T00:00:00.000000000'
 '2016-12-17T00:00:00.000000000' '2016-03-27T00:00:00.000000000'
 '2016-08-22T00:00:00.000000000' '2016-10-07T00:00:00.000000000'
 '2016-02-27T00:00:00.000000000' '2016-09-04T00:00:00.000000000'
 '2016-10-27T00:00:00.000000000' '2016-11-20T00:00:00.000000000'
 '2016-09-19T00:00:00.000000000' '2016-01-13T00:00:00.000000000'
 '2016-01-14T00:00:00.000000000' '2016-05-05T00:00:00.000000000'
 '2016-05-30T00:00:00.000000000' '2016-01-30T00:00:00.000000000'
 '2016-02-22T00:00:00.000000000' '2016-12-10T00:00:00.000000000'
 '2016-12-25T00:00:00.000000000' '2016-10-20T00:00:00.000000000'
 '2016-11-01T00:00:00.000000000' '2016-02-09T00:00:00.000000000'
 '2016-09-27T00:00:00.000000000' '2016-10-15T00:00:00.000000000'
 '2016-11-07T00:00:00.000000000' '2016-05-03T00:00:00.000000000'
 '2016-12-24T00:00:00.000000000' '2016-03-30T00:00:00.000000000'
 '2016-04-22T00:00:00.000000000' '2016-01-19T00:00:00.000000000'
 '2016-04-19T00:00:00.000000000' '2016-08-23T00:00:00.000000000'
 '2016-11-23T00:00:00.000000000' '2016-03-06T00:00:00.000000000'
 '2016-03-16T00:00:00.000000000' '2016-06-28T00:00:00.000000000'
 '2016-11-29T00:00:00.000000000' '2016-03-09T00:00:00.000000000'
 '2016-03-01T00:00:00.000000000' '2016-05-11T00:00:00.000000000'
 '2016-09-01T00:00:00.000000000' '2016-12-28T00:00:00.000000000'
 '2016-12-04T00:00:00.000000000' '2016-04-26T00:00:00.000000000'
 '2016-10-10T00:00:00.000000000' '2016-05-21T00:00:00.000000000'
 '2016-12-12T00:00:00.000000000' '2016-03-19T00:00:00.000000000'
 '2016-04-11T00:00:00.000000000' '2016-10-04T00:00:00.000000000'
 '2016-12-22T00:00:00.000000000' '2016-02-14T00:00:00.000000000'
 '2016-04-01T00:00:00.000000000' '2016-05-29T00:00:00.000000000'
 '2016-07-08T00:00:00.000000000' '2016-07-01T00:00:00.000000000'
 '2016-12-13T00:00:00.000000000' '2016-08-17T00:00:00.000000000'
 '2016-09-07T00:00:00.000000000' '2016-11-26T00:00:00.000000000'
 '2016-02-05T00:00:00.000000000' '2016-07-03T00:00:00.000000000'
 '2016-08-10T00:00:00.000000000' '2016-10-29T00:00:00.000000000'
 '2016-02-01T00:00:00.000000000' '2016-12-14T00:00:00.000000000'
 '2016-05-10T00:00:00.000000000' '2016-02-28T00:00:00.000000000'
 '2016-07-31T00:00:00.000000000' '2016-08-01T00:00:00.000000000'
 '2016-11-14T00:00:00.000000000' '2016-01-25T00:00:00.000000000'
 '2016-01-10T00:00:00.000000000' '2016-08-04T00:00:00.000000000'
 '2016-10-17T00:00:00.000000000' '2016-04-10T00:00:00.000000000'
 '2016-05-24T00:00:00.000000000' '2016-05-17T00:00:00.000000000'
 '2016-10-21T00:00:00.000000000' '2016-06-10T00:00:00.000000000'
 '2016-07-20T00:00:00.000000000' '2016-03-22T00:00:00.000000000'
 '2016-05-09T00:00:00.000000000' '2016-06-06T00:00:00.000000000'
 '2016-04-16T00:00:00.000000000' '2016-03-11T00:00:00.000000000'
 '2016-09-28T00:00:00.000000000' '2016-06-29T00:00:00.000000000'
 '2016-07-15T00:00:00.000000000' '2016-09-11T00:00:00.000000000'
 '2016-03-20T00:00:00.000000000' '2016-11-08T00:00:00.000000000'
 '2016-01-22T00:00:00.000000000' '2016-05-16T00:00:00.000000000'
 '2016-04-30T00:00:00.000000000' '2016-05-22T00:00:00.000000000'
 '2016-03-17T00:00:00.000000000' '2016-10-16T00:00:00.000000000'
 '2016-08-19T00:00:00.000000000' '2016-08-21T00:00:00.000000000'
 '2016-03-04T00:00:00.000000000']
Los valores 칰nicos de ID Empleado son: [1735. 1566.  569. ... 1223. 1528. 1367.]
Los valores 칰nicos de ID Agente son: [ 4. 10. 29. 40. 31. 20. 36. 18. 12. 42.  5. 21. 17.  2. 24. 23. 15. 46.
 43. 27.  8. 45. 32. 38. 33. 41.  3.  9. 25. 39. 16. 47. 14. 48. 37. 35.
 34. 28. 30.  1. 11. 19. 44.  6. 26. 49.  7. 22. 50. 13. nan]
Los valores 칰nicos de D칤as Resoluci칩n son: [ 0.  3.  9.  1.  2.  5.  8.  4. 10.  6.  7. 13. 16. 17. 11. 12. 14. 15.
 18. 19. nan 21.]

In [9]:
dataframe_exploracion(dataframe_empleados)

El dataframe tiene forma (2000, 6)
Las primeras cinco filas del DataFrame son:
   Turno  ID Empleado Apellido     Nombre ID Puesto  \
0     A            6    VILLA      JESUS  50-32200
1   NaN           10   MENDEZ    RICARDO  15-24100
2   NaN           21  HEREDIA  GUADALUPE  90-14000
3   NaN           27    DURAN    DESSENS  15-24100
4   NaN           29   LAGUNA   FEDERICO  80-24100

                             Email
0        jesus.villa@tractchun.com
1     ricardo.mendez@tractchun.com
2  guadalupe.heredia@tractchun.com
3      dessens.duran@tractchun.com
4    federico.laguna@tractchun.com
Las cinco 칰ltimas filas del Dataframe son:
      Turno  ID Empleado  Apellido     Nombre ID Puesto  \
1995   NaN         1903     RAMOS       JOSE  55-23200
1996   NaN         1904      RUIZ  GUADALUPE  80-22220
1997   NaN         1935    ZEPEDA  FRANCISCO  15-24100
1998   NaN         1953    ROBLES  ELIZABETH  15-24100
1999   NaN         1993  ENRIQUEZ  HERCULANO  45-11000

                                 Email
1995          jose.ramos@tractchun.com
1996      guadalupe.ruiz@tractchun.com
1997    francisco.zepeda@tractchun.com
1998    elizabeth.robles@tractchun.com
1999  herculano.enriquez@tractchun.com
El nombre de las columnas del Dataframe es Index(['Turno', 'ID Empleado', 'Apellido', 'Nombre', 'ID Puesto', 'Email'], dtype='object')
Los principales estad칤sticos del Dataframe son        ID Empleado
count  2000.000000
mean   1000.500000
std     577.494589
min       1.000000
25%     500.750000
50%    1000.500000
75%    1500.250000
max    2000.000000
El porcentaje de valores nulos es igual: Turno          19.92
ID Empleado     0.00
Apellido        0.00
Nombre          0.00
ID Puesto       0.00
Email           0.00
dtype: float64 %
Los valores 칰nicos para cada columna son:
El n칰mero de valores 칰nicos de la columna Turno es 5
El n칰mero de valores 칰nicos de la columna ID Empleado es 2000
El n칰mero de valores 칰nicos de la columna Apellido es 376
El n칰mero de valores 칰nicos de la columna Nombre es 565
El n칰mero de valores 칰nicos de la columna ID Puesto es 75
El n칰mero de valores 칰nicos de la columna Email es 2000
Los valores 칰nicos de ID Empleado son: [   6   10   21 ... 1935 1953 1993]
Los valores 칰nicos de Apellido son: ['VILLA' 'MENDEZ' 'HEREDIA' 'DURAN' 'LAGUNA' 'LEON' 'PEREYDA' 'Gaviria'
 'GONZALES' 'CAMPAS' 'URIBE' 'DIAZ' 'ZAZUETA' 'Pareja' 'ESCALANTE'
 'SANCHEZ' 'SANTILLANEZ' 'TORRES' 'GARCIA' 'RODRIGUEZ' 'AMAYA' 'MACHADO'
 'Velez' 'Zapata' 'MARTINEZ' 'Moreno' 'VALENCIA' 'Arango' 'SANDOVAL'
 'AHUMADA' 'Piedrahita' 'FUENTES' 'PEREZ' 'ESTRADA' 'ESPINOZA' 'CORONADO'
 'FLORES' 'SANTOS' 'MORENO' 'ENCINAS' 'ROMERO' 'Barrientos' 'SANTACRUZ'
 'BORQUEZ' 'GRIJALVA' 'GAMEZ' 'RUIZ' 'Cardona' 'CAUDILLO' 'CHAVEZ'
 'BRACAMONTE' 'CELAYA' 'DOURIET' 'LOPEZ' 'CARDENAS' 'CORRALES' 'AMADOR'
 'JIMENEZ' 'VILLANES' 'FABELA' 'ALDRETE' 'JUSTINIANI' 'AINZA' 'FRANCIS'
 'Angulo' 'RAMOS' 'CISNEROS' 'BRICKNER' 'CORELLA' 'PERALTA' 'URZUA'
 'LERMA' 'SOTO' 'Prisco' 'Pemberthy' 'MOROYOQUI' 'VAZQUEZ' 'ACOSTA'
 'Betancur' 'BRIBIESCA' 'COSS' 'BARRERAS' 'Parra' 'ANAYA' 'MORA' 'ABRIL'
 'Porras ' 'BANDA' 'GALAZ' 'OCA칌O' 'VON_BORSTEL' 'GAUTRIN' 'Puerta' 'COTA'
 'ARMENTA' 'CELADA' 'VASQUEZ' 'NERI' 'DUARTE' 'PATI칌O' 'CAPIN' 'GUEVARA'
 'BEJARANO' 'Correa' 'SERNA' 'ANGUIS' 'NAVARRO' 'TANORI' 'ALMARAZ'
 'DAVILA' 'OLIVARRIA' 'QUINTANA' 'Posada ' 'ALVAREZ' 'Mira' 'DURAZO'
 'OSORNIO' 'Agudelo' 'SAENZ' 'CEBALLOS' 'MIRANDA' 'SORTILLON' 'HURTADO'
 'Sep칰lveda' 'MONTA칌O' 'BALDENEGRO' 'REAL' 'MOLINA' 'Restrepo ' 'CASTILLO'
 'Giraldo' 'Zea' 'Vasquez' 'REYNOSO' 'PORRAS' 'GONZALEZ' 'Valencia'
 'ALEGRIA' 'PINELLI' 'VALDEZ' 'CASTRO' 'MAYTORENA' 'ARVAYO' 'GALLEGOS'
 'GURROLA' 'RENDON' 'MOYON' 'ROBLES' 'VALENZUELA' 'MATUS' 'RAMIREZ'
 'BURGOS' 'OCHOA' 'Villa' 'Misas' 'GUERRA' 'Lopera' 'Gonzalez' 'URIAS'
 'LEYVA' 'Henao' 'ARGUELLO' 'Taborda' 'AMABILIS' 'ZAPATA' 'ISLAS'
 'DELGADILLO' 'Arg치ez' 'C치rdenas' 'BUSTAMANTE' 'Montoya' 'DE_LA_ROSA'
 'GOMEZ' 'CHOMINA' 'SIERRA' 'BOJORQUEZ' 'MU칌OZ' 'SIMANCAS' 'GIL'
 'GALLARDO' 'SILVA' 'Alvarez' 'MANRIQUEZ' 'DOMINGUEZ' 'PALAFOX'
 'HERNANDEZ' 'TORRICO' 'Sanchez' 'MONTIEL' 'MUNGUIA' 'JUVERA' 'TELLEZ'
 'FIMBRES' 'PERAZA' 'FIGUEROA' 'SOQUI' 'CA칌EDO' 'Ayala' 'CALLES' 'PEINADO'
 'D`LIRA' 'COFFEY' 'DANIEL' 'PADILLA' 'ORTEGA' 'NEVAREZ' 'IBARRA'
 'TORTOLEDO' 'PORCHAS' 'MORALES' 'SALCEDO' 'MACEN' 'MATA' 'VEGA'
 'CONTRERAS' 'Grisales ' 'Hoyos ' 'VELARDE' 'Fernandez' 'TEQUIDA' 'CAMPOS'
 'PINEDA' 'MEDINA' 'GRACIA' 'SALAS' 'VILLANUEVA' 'CARRILLO' 'THOMSON'
 'CORDOVA' 'Echeverry' 'TREJO' 'Lennis' 'SALAZAR' 'Soto' 'JUAREZ' 'Ortiz'
 'OLGUIN' 'PACHECO' 'ESQUER' 'CORTES' 'Arenas' 'ALDACO' 'GUTIERREZ' 'OLEA'
 'ORCI' 'SAAVEDRA' 'BARCELO' 'ACU칌A' 'ORTIZ' 'JAIME' 'Mora ' 'Escobar'
 'Loaiza' 'PAZ' 'GRAJEDA' 'CASTELLANOS' 'GALLEGO' 'MONTERO' 'MONJARAS'
 'ORRANTIA' 'MONGE' 'Monsalve' 'SUGICH' 'AGUIRRE' 'ZEPEDA' 'URBINA' 'Rojo'
 'Mesa' 'Londo침o' 'SOTOMAYOR' 'CHAVARRIA' 'VIVANCO' 'Casta침o' 'CRUZ'
 'SANTOSCOY' 'Macias' 'MILTON' 'VALLES' 'BARRIOS' 'Soto ' 'PERAL' 'CONS'
 'ENRIQUEZ' 'KETCHUL' 'CHAVELAS' 'BURBOA' 'Rojas' 'SAUCEDO' 'G칩mez'
 'LIMON' 'CASILLAS' 'Blandon' 'LARA' 'CORRAL' 'Perez' 'PE칌A' 'CALLEJA'
 'Rios' 'Martinez' 'GASTELUM' 'MELENDREZ' 'MONTENEGRO' 'TRUJILLO'
 'Sanchez ' 'CARTAS' 'HORTA' 'LABASTIDA' 'FRANCO' 'GALINDO' 'Madrigal '
 'LUNA' 'MEJIA' 'TOYOS' 'CHAIDEZ' 'ROMO' 'GUERRERO' 'Villegas' 'Gomez'
 'Atehortua' 'P칠rez' 'GAXIOLA' 'ACEVEDO' 'NORIEGA' 'Posada' 'BARRAZA'
 'MADRID' 'HUERTA' 'V칠lez' 'NIEBLAS' 'Garc칤a ' 'NU칌EZ' 'Pineda' 'ANISTRO'
 'Orrego' 'Rua' 'Tob칩n ' 'TAPIA' 'SALLARD' 'REYES' 'RIVERA' 'Betancur '
 'Lopera ' 'PE칌U칌URI' 'Hincapie' 'WILSON' 'Chaverra' 'AGRUEL' 'Amaya'
 'QUIROGA' 'CALDERON' 'RUELAS' 'VELASQUEZ' 'CHEW' 'ARVALLO' 'MORAN' 'MEZA'
 'SIQUEIROS' 'OLIVAS' 'DOJAQUE' 'JAQUEZ' 'Mendoza' 'RINCON' 'CARREON'
 'Vargas' 'Sierra' 'QUIROZ' 'Gonz치lez' 'GERONIMO' 'Hernandez' 'Guzman'
 'Lopez' 'Bustamante' 'MACIAS' 'Lujan ' 'SANTIAGO' 'Cardenas']
Los valores 칰nicos de Nombre son: ['JESUS' 'RICARDO' 'GUADALUPE' 'DESSENS' 'FEDERICO' 'VICTOR' 'JORGE'
 'Yasmir' 'RUBEN' 'SIQUEIROS' 'AIDEE' 'PATRICIA' 'ARTURO' 'Fernando'
 'AARON' 'ALFREDO' 'BENJAMIN' 'GILBERTO' 'DIANA' 'BURROLA' 'ALVARO'
 'EDELMIRA' 'Luz' 'Juan ' 'TEUSCHER' 'Lizeth' 'ACEDO' 'Maria' 'OSWALDO'
 'JAVIER' 'Catalina' 'ROMARIO' 'IVAN' 'ALEJANDRO' 'IGNACIO' 'ALBERTO'
 'ALONSO' 'LUIS' 'MARIA' 'NAVARRO' 'JUAREZ' 'BALLESTEROS' 'TERESA'
 'Liliana' 'JAIME' 'FRANCISCO' 'RAMON' 'ANGELICA' 'Eliana ' 'ANTONIO'
 'JULIO' 'EDITH' 'ARACELI' 'ENRIQUE' 'DIOS' 'RAMIREZ' 'Solina' 'MARITZA'
 'ROSARIO' 'MARTIN' 'JOSE' 'JUAN' 'CORTES' 'GERARDO' 'BENITA' 'CONCEPCION'
 'MARTINEZ' 'Johana' 'LEOVIGILDO' 'ERIKA' 'ALICIA' 'URIBE' 'LOPEZ'
 'VERONICA' 'MAGNOLIA' 'FRIAS' 'Andres' 'Alejandro' 'Daniel' 'YOLANDA'
 'PATRON' 'IRENE' 'CORONADO' 'Jhon ' 'FELIPA' 'MARINA' 'Marta ' 'ERNESTO'
 'LUCIA' 'LORENIA' 'PI칌A' 'LUISA' 'Alexander' 'CARLOS' 'MANUEL' 'RIVERA'
 'HEBERTO' 'ALFONSO' 'SOTO' 'GUTIERREZ' 'VILLEGAS' 'OLIVIA' 'EFRAIN'
 'Andrea' 'Luis ' 'MEDINA' 'GALO' 'PORTUGAL' 'RODRIGUEZ' 'ORTIZ'
 'ELIZABETH' 'FRANCISCA' 'Esteban' 'P.' 'ANA' 'Mercedes' 'Adrian' 'YANEZ'
 'ANGEL' 'Alberto' 'FERNANDO' 'CARMEN' 'Haygnes' 'MIGUEL' 'MARTHA' 'DARIO'
 'GABRIEL' 'EUGENIA' 'BECERRIL' 'Hernan' 'Genni' 'Jaider' 'GUILLERMO'
 'TRINIDAD' 'CELIA' 'LAMBERTO' 'SANCHEZ' 'Yenifer' 'RENE' 'ROBERTO'
 'AGUILAR' 'ORENCIO' 'HUMBERTO' 'SALCIDO' 'ANTONIA' 'RAUL' 'IMELDA' 'SARA'
 'DUARTE' 'MARCELO' 'Ignacio' 'LAURA' 'ADOLFO' 'Ines' 'CERTUCHA' 'CESAR'
 'CECILIA' 'JOAQUIN' 'ELDA' 'MIRAMON' 'Marisol' 'ISELA' 'Esmeralda'
 'Isbelia' 'GABRIELA' 'HAMMOND' 'Elena' 'MARCO' 'LINO' 'CARRILLO'
 'EQUIHUA' 'Yohan' 'CONRADO' 'ESTHELA' 'Rubiel' 'CASIMIRO' 'Albeiro'
 'Jos칠' 'ISABEL' 'ARELLANO' 'GENARO' 'CRISTINA' 'MARCOS' 'IBARRA'
 'GILDARDO' 'CANETT' 'ESTUARDO' 'PEDRO' 'BLANCA' 'FLORES' 'BERTHA' 'IRMA'
 'MONGE' 'JEANETT' 'ALEX' 'EDUARDO' 'Mar칤a' 'VEGA' 'CAROLINA' 'ANTONIETA'
 'Alirio' 'MONTOYA' 'CUEVAS' 'Mauro' 'PAEZ' 'DIAZ' 'MYRNA' 'GRACIA'
 'SALVADORA' 'GUILIBERTO' 'KARLA' 'ANDREA' 'MORALES' 'HERIBERTO' 'SERGIO'
 'LANGURE' 'GLADYS' 'MAGDALENA' 'Marina' 'OCHOA' 'Felipe' 'LETICIA' 'Le칩n'
 'HECTOR' 'HAROS' 'Lina' 'Guillermo' 'Amparo' 'ANDRES' 'GILA' 'Jose'
 'FIGUEROA' 'ILDEFONSO' 'LORENA' 'Humberto ' 'Jairo' 'USBALDO' 'Jhon'
 'ELOINA' 'GONZALEZ' 'OCTAVIO' 'Hernado' 'Monica' 'Fredy' 'RIOS' 'ISAURO'
 'DEWAR' 'CYNTHIA' 'Marlen' 'Arley' 'ANDRADE' 'RUBIO' 'Jose ' 'Margarita'
 'Alejandra' 'MILLAN' 'ISELDA' 'ISRAEL' 'ELENA' 'RAFAEL' 'Carmen '
 'DAMIAN' 'Lucia' 'AGUSTIN' 'EDUVIGES' 'EVELIA' 'RAMSES' 'ESPINOZA'
 'Alexandra' 'MARIN' 'ROMERO' 'Marleny' 'SALGADO' 'BEATRIZ' 'CLAUDIO'
 'EDGARD' 'UBALDO' 'LUZ' 'OMAR' 'Sandra' 'MELENDREZ' 'MONTA칌O' 'NEYOY'
 'ELMIRA' 'MARVIN' 'ANNET' 'DANIA' 'VINICIO' 'VALENCIA' 'COTA' 'Joaquin'
 'Marcela' 'Jhuliana ' 'SOCORRO' 'LAURIANO' 'VAZQUEZ' 'FELIPE' 'Eugenia'
 'CORREA' 'CLARA' 'PE칌A' 'ROSA' 'Diego' 'ICELA' 'ORDU칌O' 'Bryan'
 'Cristian' 'GUSTAVO' 'GALVEZ' 'ATONDO' 'ILLINGWORTH' 'SILVIA' 'GLORIA'
 'MONTOY' 'Teresita' 'FERMIN' 'ADRIAN' 'JARA' 'ISMAEL' 'IGOR' 'NORA'
 'SANDY' 'Carlos' 'LEONOR' 'ESQUER' 'LIEBANO' 'BRACAMONTE' 'BUJANDA'
 'Patricia' 'DAVID' 'ELIGIO' 'HERNANDEZ' 'PABLO' 'DORA' 'RUIZ' 'ARNOLDO'
 'ELEAZAR' 'LOURDES' 'FAUSTO' 'EDMUNDO' 'ELVA' 'MARICELA' 'ALBA'
 'ENRIQUEZ' 'luz ' 'MAYRA' 'PADILLA' 'GARCIA' 'HIGINIO' 'MAURICIO'
 'Gloria' 'JUVENTINO' 'ACU칌A' 'LORENZO' 'OROZCO' 'COHEN' 'OSCAR' 'LERMA'
 'PARRA' 'ROSALVA' 'PORRAS' 'Mariana' 'QUIRRIN' 'HAYDEE' 'LINA' 'GRAFF'
 'VILLARREAL' 'Ruth' 'Jeisson' 'VALENZUELA' 'NANCY' 'ACOSTA' 'Yulieth'
 'GREGORIA' 'IVONE' 'BARCELO' 'SARAI' 'MORENO' 'MONTIJO' 'DANIEL'
 'JIMENEZ' 'PI칌EIRA' 'ROBLES' 'ROLANDO' 'ALMA' 'DOMINGUEZ' 'ROSAS'
 'FILIBERTO' 'CLAUDIA' 'KARINA' 'NOGALES' 'GOMEZ' 'BRISE칌O' 'ALEMAN'
 'PANIAGUA' 'ALDECOA' 'FELIX' 'CONSUELO' 'MONICA' 'RUELAS' 'Jaime'
 'CASILLAS' 'ALEJANDRA' 'Orlando' 'Nai' 'MARGARITA' 'ESPERANZA' 'CINCO'
 'BOWLIN' 'Miller' 'MOLINA' 'ADRIANA' 'HIRAM' 'REYNA' 'LEON' 'LANGURET'
 'MARIBEL' 'Egidio' 'LI칌AN' 'FABIOLA' 'Diana' 'Yomaira' 'PERALTA'
 'VANESSA' 'OTERO' 'TANORI' 'CASTILLO' 'ISAAC' 'EVA' 'WALTER' 'JOEL'
 'ELVIA' 'ALVAREZ' 'DAGOBERTO' 'SERNA' 'LOISSE' 'BELDUCEA' 'MARCELA'
 'MENDIVIL' 'PACHECO' 'QUIROZ' 'EDA' 'AURELIA' 'HERCULANO' 'BEJAR'
 'Darwin' 'SALLARD' 'ELIDIA' 'GAMBOA' 'ISLAS' 'CELAYA' 'COSILLO' 'RITA'
 'ERICA' 'Gonzalo' 'ANUEL' 'REATIGA' 'CEJUDO' 'DURAZO' 'BUSTAMANTE'
 'CARLOTA' 'ROXANA' 'EMETERIO' 'OSVALDO' 'EDUWIGES' 'SIDARTHA' 'MARIO'
 'MONROY' 'Juliana' 'AMAYA' 'GRICELDA' 'GIRON' 'PEREZ' 'MOTA' 'GRIJALVA'
 'Antonio' 'LORETO' 'LARIOS' 'LUNA' 'Olga' 'IVONNE' 'CASTA칌EDA' 'MANUELA'
 'MIRTHA' 'CANDELAS' 'DELGADILLO' 'TANNIA' 'CORNELIO' 'MENDEZ' 'REFUGIO'
 'Maryory' 'MARINO' 'ARROYO' 'MINERVA' 'Ana' 'RENDON' 'SAMUEL' 'CRUZ'
 'LLAMAS' 'AGAPITA' 'CORDOVA' 'JOSEFINA' 'ARMANDO' 'CORONEL' 'MENDOZA'
 'TAPIA' 'FLORA' 'John ' 'Dario' 'AZOKA' 'FAUSTINO' 'TRILLAS' 'OJEDA'
 'URUETA' 'PACHICANO' 'DIOGENES' 'EDNA' 'BOLA칌OS' 'GALAZ' 'BARRERA'
 'CORONA' 'ENRIQUETA' 'GRISELDA' 'ZU칌IGA' 'HERAS' 'JACOBO' 'IRAZEMA'
 'ERENDIDA' 'CHRISTIAN' 'FERNANDEZ' 'RUANO' 'MARTINA' 'MARQUEZ' 'PAUL'
 'YOLBA' 'LANDAVAZO' 'PAREDES' 'ROMO' 'HUELGA' 'LILIA' 'RIVAS' 'TASIANA'
 'BALDERAS' 'MENESES' 'Martha ' 'GUEVARA' 'BAYON' 'ORTEGA' 'Homero '
 'FARIAS' 'RAMONA' 'YANETH' 'MARLET' 'SESTEAGA' 'BARRAZA' 'MANZANARES'
 'BOJORQUEZ' 'JAIRO' 'CAMPOS' 'LEYVA' 'LAGARDA' 'NORIEGA' 'LEOPOLDO'
 'SALVADOR' 'VILLALOBOS']
Los valores 칰nicos de ID Puesto son: ['50-32200' '15-24100' '90-14000' '80-24100' '80-22220' '55-23200'
 '10-32110' '70-21110' '70-21120' '20-31320' '50-33000' '50-33110'
 '45-11000' '80-22000' '50-60010' '80-22210' '30-13310' '15-24000'
 '30-13100' '20-31410' '80-22211' '15-22211' '80-22610' '50-33100'
 '15-24111' '20-31400' '80-22205' '55-23810' '15-27000' '80-23200'
 '90-14100' '40-43200' '15-31410' '50-33200' '10-25120' '30-16000'
 '20-31100' '10-32100' '70-21100' '90-24100' '55-23500' '20-31210'
 '30-13330' '45-11200' '40-43210' '10-25130' '60-28110' '30-13300'
 '70-23810' '15-22210' '50-25130' '70-21050' '80-22620' '30-13400'
 '20-31200' '35-34000' '80-22110' '80-23810' '25-32200' '10-23200'
 '60-24111' '60-60010' '20-26100' '80-22200' '20-31500' '30-13320'
 '80-22600' '60-28000' '40-40000' '45-10000' '80-22111' '30-60010'
 '10-24111' '25-25130' '45-15000']
Los valores 칰nicos de Email son: ['jesus.villa@tractchun.com' 'ricardo.mendez@tractchun.com'
 'guadalupe.heredia@tractchun.com' ... 'francisco.zepeda@tractchun.com'
 'elizabeth.robles@tractchun.com' 'herculano.enriquez@tractchun.com']

<p>3. Modificaciones b치sicas de los conjuntos de datos:</p>
<ul>
<li>Cambiad el nombre de las columnas para que todas est칠n en min칰sculas y reemplazad los espacios por _.</li>
<li>Para las columnas de web e 칤ndice en el archovo de 2016.xlsx ya hemos visto que tiene un 칰nico valor 칰nico, lo cual no tiene mucho sentido ya que no nos aporta informaci칩n 칰til. En este ejercicios tendr칠is que eliminar dichas columnas del dataframe.</li>
<li>Establece la columna id_ticket de la tabla de 2016.xlsx como 칤ndice del DataFrame.</li>
</ul>

In [33]:
colum_nuevas = {columna :  columna.lower() for columna in dataframe_agentes.columns}
dataframe_agentes.rename(columns = colum_nuevas, inplace = True)
colum_nuevas = {columna :  columna.replace(" ","_") for columna in dataframe_agentes.columns}
dataframe_agentes.rename(columns = colum_nuevas, inplace = True)

In [34]:
dataframe_agentes.head()

,id_agente,nombre,email,fecha_de_nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

In [11]:
dataframe_2016.columns.str.lower().str.replace(" ", "_")

Index(['id_ticket', 'fecha', 'id_empleado', 'id_agente', 'categor칤a', 'tipo',
       'severidad', 'prioridad', 'd칤as_resoluci칩n', 'satisfacci칩n', 'web',
       '칤ndice_'],
      dtype='object')

In [14]:
dataframe_empleados.columns.str.lower().str.replace(" ", "_",inplace= True)

TypeError: replace() got an unexpected keyword argument 'inplace'

In [29]:
colum_nuevas = {columna :  columna.lower() for columna in dataframe_empleados.columns}
dataframe_empleados.rename(columns = colum_nuevas, inplace = True)
colum_nuevas = {columna :  columna.replace(" ","_") for columna in dataframe_empleados.columns}
dataframe_empleados.rename(columns = colum_nuevas, inplace = True)

In [26]:
colum_nuevas = {columna :  columna.lower() for columna in dataframe_2016.columns}
dataframe_2016.rename(columns = colum_nuevas, inplace = True)
colum_nuevas = {columna :  columna.replace(" ","_") for columna in dataframe_2016.columns}
dataframe_2016.rename(columns = colum_nuevas, inplace = True)

In [25]:
colum_nuevas = {columna :  columna.lower() for columna in dataframe_puestos.columns}
dataframe_puestos.rename(columns = colum_nuevas, inplace = True)
colum_nuevas = {columna :  columna.replace(" ","_") for columna in dataframe_puestos.columns}
dataframe_puestos.rename(columns = colum_nuevas, inplace = True)

In [27]:
dataframe_2016.head()

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,web,칤ndice_
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

In [28]:
dataframe_2016.drop(["web", "칤ndice_"], axis = 1, inplace=True)

In [30]:
dataframe_2016.set_index(["id_ticket"], inplace = True)

In [31]:
dataframe_2016.head()

,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
id_ticket,,,,,,,,,
GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

<p>4. Guarda los csv's sobre los que hay치is hecho cambios para usarlos en pr칩ximos pairs .</p>

In [32]:
dataframe_2016.to_csv("datos/2016.csv")

In [35]:
dataframe_agentes.to_csv("datos/Agentes.csv")

In [36]:
dataframe_empleados.to_csv("datos/Empleados.csv")

In [37]:
dataframe_puestos.to_csv("datos/Puestos.csv")