In [1]:
import pandas as pd 
import numpy as np
import scipy as stats

<h3>Cargamos el dataset</h3>

In [2]:
df = pd.read_csv("DATOS/catsvdogs.csv")

In [3]:
df.sample(2)

,Location,Number of Households (in 1000),Percentage of households with pets,Number of Pet Households (in 1000),Percentage of Dog Owners,Dog Owning Households (1000s),Mean Number of Dogs per household,Dog Population (in 1000),Percentage of Cat Owners,Cat Owning Households,Mean Number of Cats,Cat Population,Unnamed: 12
43,Vermont,265,70.8,188,37.7,100,1.4,142,49.5,131,1.8,234,NaN
15,Kentucky,"1,777",61.6,"1,094",45.9,816,1.9,"1,531",36.8,654,2.1,"1,349",NaN

In [4]:
df.drop(["Unnamed: 12"], axis = 1, inplace = True)
#Eliminamos la columna de nulos

In [5]:
#Analizamos los nulos restantes
df.isna().sum()

Location                              1
Number of Households (in 1000)        1
Percentage of households with pets    1
Number of Pet Households (in 1000)    1
Percentage of Dog Owners              1
Dog Owning Households (1000s)         1
Mean Number of Dogs per household     1
Dog Population (in 1000)              1
Percentage of Cat Owners              1
Cat Owning Households                 1
Mean Number of Cats                   1
Cat Population                        1
dtype: int64

In [6]:
#Eliminamos los nulos restantes y asignamos en un nuevo dataframe
dfpets = df.dropna()

In [7]:
#Comprobamos resultados
dfpets.isna().sum()

Location                              0
Number of Households (in 1000)        0
Percentage of households with pets    0
Number of Pet Households (in 1000)    0
Percentage of Dog Owners              0
Dog Owning Households (1000s)         0
Mean Number of Dogs per household     0
Dog Population (in 1000)              0
Percentage of Cat Owners              0
Cat Owning Households                 0
Mean Number of Cats                   0
Cat Population                        0
dtype: int64

In [8]:
"""Esta función se utiliza para cambiar el tipo de dato de las columnas de string a float reemplazando 
comas por puntos y dejando únicamente dos decimales"""
def cambiar_coma(objeto):  
    return round(float(objeto.replace(",",".")),2)

In [9]:
dfpets.sample(2)

,Location,Number of Households (in 1000),Percentage of households with pets,Number of Pet Households (in 1000),Percentage of Dog Owners,Dog Owning Households (1000s),Mean Number of Dogs per household,Dog Population (in 1000),Percentage of Cat Owners,Cat Owning Households,Mean Number of Cats,Cat Population
14,Kansas,"1,133",61.0,691,42.3,480,1.6,774,33.3,378,1.9,731
23,Missouri,"2,498",61.4,"1,534",45.9,"1,148",1.7,"1,978",32.2,805,2.1,"1,653"

In [10]:
#Para hacer un for que nos automatice la limpieza de datos creamos una lista con las columnas del dataset
lista = dfpets.columns
lista

Index(['Location', 'Number of Households (in 1000)',
       'Percentage of households with pets',
       'Number of Pet Households (in 1000)', 'Percentage of Dog Owners',
       'Dog Owning Households (1000s)', 'Mean Number of Dogs per household',
       'Dog Population (in 1000)', 'Percentage of Cat Owners',
       'Cat Owning Households', 'Mean Number of Cats', 'Cat Population'],
      dtype='object')

In [15]:
dfpets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 0 to 48
Data columns (total 12 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Location                            49 non-null     object
 1   Number of Households (in 1000)      49 non-null     float64
 2   Percentage of households with pets  49 non-null     float64
 3   Number of Pet Households (in 1000)  49 non-null     float64
 4   Percentage of Dog Owners            49 non-null     float64
 5   Dog Owning Households (1000s)       49 non-null     float64
 6   Mean Number of Dogs per household   49 non-null     float64
 7   Dog Population (in 1000)            49 non-null     float64
 8   Percentage of Cat Owners            49 non-null     float64
 9   Cat Owning Households               49 non-null     float64
 10  Mean Number of Cats                 49 non-null     float64
 11  Cat Population                      49 non-null     float64
dtypes: float64(11), object(1)
memory usage: 5.0+ KB

In [12]:
#Elegimos aquellas que tienen datos tipo object usando índices para pasarlos a float
lista1 = lista[1:12:2]
lista1

Index(['Number of Households (in 1000)', 'Number of Pet Households (in 1000)',
       'Dog Owning Households (1000s)', 'Dog Population (in 1000)',
       'Cat Owning Households', 'Cat Population'],
      dtype='object')

In [13]:
#Realizamos la limpieza de datos con un bucle for
for col in lista1: 
    dfpets[col] = dfpets[col].apply(cambiar_coma)

/tmp/ipykernel_18201/796476856.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfpets[col] = dfpets[col].apply(cambiar_coma)

In [ ]:
#Comprobamos que las variables numéricas están todas en float, ya podemos trabajar con el dataset
dfpets.info()

In [16]:
dfpets.to_csv("DATOS/df_pets.csv")