In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df_tickets =pd.read_csv("DATOS/tickets_completo.csv")
df_a침os = pd.read_csv("DATOS/PairPandasV-1.csv")

In [3]:
df_tickets.head(2)

,Unnamed: 0,Unnamed: 0.1,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,a침o,mes,semestre
0,0,0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016,7,semestre2
1,1,1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016,5,semestre1

In [4]:
type(df_tickets["fecha"][0])

str

In [5]:
df_tickets["fecha"] = df_tickets["fecha"].apply(pd.to_datetime)

<p>1. Cread una columna nueva y una funci칩n que nos de el mes en el que se solicit칩 el servicio. Tened en cuenta que todas las filas tienen la misma estructura. A la hora de escribir la funci칩n debemos tener en cuenta que puede que no haya la informaci칩n de mes en la columna de la fecha. En ese caso devolved un nulo (NaN).</p>
<p>游늷 Nota La fecha tendr치 que ir formato de string como "Enero", "Febrero", etc.</p>
<p>游눠 Pista 游눠Podr칠is usar regex, pero no es estrictamente necesario.</p>

In [6]:
def devolver_mes(fecha):
    try:
        return fecha.strftime("%B")
    except:
        return np.nan

In [7]:
df_tickets["mes2"]=df_tickets["fecha"].apply(devolver_mes)

In [8]:
df_tickets.sample(2)

,Unnamed: 0,Unnamed: 0.1,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,a침o,mes,semestre,mes2
47541,47653,733,GDLTER-9443651221,2019-07-05,272.0,12.0,Hardware,Solicitud,2 - Normal,0 - Sin Asignar,14.0,5.0,2019,7,semestre2,July
73989,74101,5691,GHRENT-5143870284,2020-02-09,48.0,12.0,Acceso/Login,Problema,3 - Mayor,3 - Alta,1.0,5.0,2020,2,semestre1,February

<p>2. En la tabla de empleados, tenemos los nombres y los apellidos de los empleados, pero en columnas separadas. En los ejercicios de pair de la lecci칩n del groupby vimos que si quisieramos agrupar por los nombres, esto se nos puede complicar. Ahora nos piden que creemos una columna donde tengamos el nombre y el apellido juntos.</p>
<p>游늷 NOTA La columna nueva debe tener el nombre y apellido con la primera letra en may칰sculas, por ejemplo "Jes칰s Villa".</p>
<p>游늷 NOTA Una vez hallamos creado la columna nueva, eliminad las columnas de nombre y apellido originales.</p>

<p>3. En el pair programming desde a direcci칩n nos ped칤an que agruparamos los datos en base a la columna de "categor칤a", puede que en aquel momento nos dieramos cuenta que hab칤a var칤as categor칤as que eran igual (en concreto "Acceso Login") pero que en algunos casos ten칤a unos s칤mbolos raros (&, %, -). Es el momento de limpiar esta columna. El objetivo, reemplazar todos estos s칤mbolos raros por "/", para conseguir homogeneizar los valores de esta columna. Para ellos deberemos crear una funci칩n.</p>

<p>4. Una vez que hay치is terminado eliminad las columnas originales conservando las nuevas.</p>

<p>5. Guardad el dataframe en un csv que usaremos m치s adelante. </p>