<p>Antes de empezar, deberéis crear una columna nueva en los dataframes de 2016.xlsx, 2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx que contenga los valores del año al que corresponden.</p>

In [30]:
import pandas as pd

In [31]:
df2016 = pd.read_csv("datos/2016.csv")

In [32]:
df2017 = pd.read_excel("datos/2017.xlsx")

In [33]:
df2018 = pd.read_excel("datos/2018.xlsx")

In [34]:
df2019 = pd.read_excel("datos/2019.xlsx")

In [35]:
df2020 = pd.read_excel("datos/2020.xlsx")

In [36]:
df2016["año"] = 2016

In [37]:
df2017["año"] = 2017

In [38]:
df2018["año"] = 2018 
df2019["año"] = 2019
df2020["año"] = 2020

<p>Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:</p>
<p>1. Cargad los siete ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir entre vosotras como podríamos juntar toda la información.</p>

In [39]:
print(df2016.columns, df2017.columns,df2018.columns,df2019.columns,df2020.columns)

Index(['id_ticket', 'fecha', 'id_empleado', 'id_agente', 'categoría', 'tipo',
       'severidad', 'prioridad', 'días_resolución', 'satisfacción', 'año'],
      dtype='object') Index(['ID Ticket', 'Fecha', 'ID Empleado', 'ID Agente', 'Categoría', 'Tipo',
       'Severidad', 'Prioridad', 'Días Resolución', 'Satisfacción', 'año'],
      dtype='object') Index(['ID Ticket', 'Fecha', 'ID Empleado', 'ID Agente', 'Categoría', 'Tipo',
       'Severidad', 'Prioridad', 'Días Resolución', 'Satisfacción', 'año'],
      dtype='object') Index(['ID Ticket', 'Fecha', 'ID Empleado', 'ID Agente', 'Categoría', 'Tipo',
       'Severidad', 'Prioridad', 'Días Resolución', 'Satisfacción', 'año'],
      dtype='object') Index(['ID Ticket', 'Fecha', 'Tipo', 'Categoría', 'ID Empleado', 'ID Agente',
       'Severidad', 'Prioridad', 'Días Resolución', 'Satisfacción', 'año'],
      dtype='object')

<p>Chequead que los nombres de las columnas y ver si se llaman iguales entre dataframes. ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sea así homogeneizar los nombres de las columnas para que todos los dataframes tengan el mismo formato.</p>

In [40]:
def rename_columnas(dataframe):
    columnas = {col: col.lower().replace (" ","_") for col in dataframe.columns}
    dataframe.rename(columns = columnas, inplace = True)
    return dataframe

In [41]:
df2016 = rename_columnas(df2016)
df2017 = rename_columnas(df2017)
df2018 = rename_columnas(df2018)
df2019 = rename_columnas(df2019)
df2020 = rename_columnas(df2020)

In [42]:
df2020.columns

Index(['id_ticket', 'fecha', 'tipo', 'categoría', 'id_empleado', 'id_agente',
       'severidad', 'prioridad', 'días_resolución', 'satisfacción', 'año'],
      dtype='object')

<p>3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos históricos (2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx). Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, tendréis que ver si esas columnas están en los dataframes nuevos, si es así eliminarlas. Por lo tanto, realizad los cambios que creáis necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.</p>

In [43]:
df20161 = pd.read_csv("datos/PairPandas4.csv")

In [46]:
df2017.columns

Index(['id_ticket', 'fecha', 'id_empleado', 'id_agente', 'categoría', 'tipo',
       'severidad', 'prioridad', 'días_resolución', 'satisfacción', 'año'],
      dtype='object')

In [50]:
concat1 = pd.concat([df2016, df2017, df2018,df2019,df2020], ignore_index= False, axis = 0)

In [51]:
concat1.sample(10)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
10646,TDLENT-2042591275,2016-08-09,737.0,22.0,Acceso&%Login,Problema,NaN,0 - Sin Asignar,0.0,1.0,2016
11771,KHLEST-9044123083,2020-10-19 00:00:00,1718.0,50.0,Sistema,Problema,2 - Normal,3 - Alta,10.0,5.0,2020
12166,KHLTER-8643924463,2020-04-03 00:00:00,6.0,4.0,Software,Solicitud,2 - Normal,3 - Alta,6.0,4.0,2020
20947,TWLTER-3043568557,2019-04-13 00:00:00,1395.0,25.0,Hardware,Solicitud,2 - Normal,1 - Baja,8.0,4.0,2019
15393,SHRTST-4243526630,2019-03-02 00:00:00,373.0,6.0,Sistema,Solicitud,1 - Menor,3 - Alta,0.0,4.0,2019
9784,KDLTET-3444184720,2020-12-19 00:00:00,1152.0,7.0,Software,Solicitud,2 - Normal,0 - Sin Asignar,14.0,1.0,2020
12013,TDLEER-3643043828,2017-11-04 00:00:00,952.0,38.0,Software,Problema,2 - Normal,0 - Sin Asignar,6.0,4.0,2017
21141,SMLEST-2743918258,2020-03-28 00:00:00,1265.0,32.0,Sistema,Problema,2 - Normal,2 - Media,7.0,4.0,2020
5676,KDRTET-9443046604,2017-11-07 00:00:00,690.0,16.0,Software,Solicitud,3 - Mayor,0 - Sin Asignar,4.0,1.0,2017
15438,KWLEER-6244138359,2020-11-03 00:00:00,1005.0,43.0,Software,Problema,2 - Normal,1 - Baja,2.0,3.0,2020

<p>4. Es el momento de unir la información de todos los puestos y los empleados. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.</p>

In [52]:
puestos =  pd.read_csv("datos/Puestos.csv")
empleados = pd.read_csv("datos/Empleados.csv")

In [53]:
print(puestos.columns, empleados.columns)

Index(['Unnamed: 0', 'id_puesto', 'puesto', 'departamento', 'tipo_puesto'], dtype='object') Index(['Unnamed: 0', 'turno', 'id_empleado', 'apellido', 'nombre', 'id_puesto',
       'email'],
      dtype='object')

In [55]:
puestos_emp_inner = puestos.merge(empleados, on='id_puesto')

In [56]:
puestos_emp_inner.sample(5)

,Unnamed: 0_x,id_puesto,puesto,departamento,tipo_puesto,Unnamed: 0_y,turno,id_empleado,apellido,nombre,email
243,12,15-24100,Supervisor de Producción,PRODUCCION,Mandos Medios,412,NaN,177,OLGUIN,ISELDA,iselda.olguin@tractchun.com
101,6,10-32110,Almacenista,MATERIALES,Administrativo,532,NaN,743,VALDEZ,ANA,ana.valdez@tractchun.com
1541,73,80-22000,Gerente de mantenimiento,MANTENIMIENTO,Gerencia,805,NaN,135,NORIEGA,MARCOS,marcos.noriega@tractchun.com
1001,47,45-11000,Supervisor de Aseguramiento de Calidad,INGENIERIA DE CALIDAD,Mandos Medios,1583,NaN,136,CORELLA,ALBERTO,alberto.corella@tractchun.com
1424,68,70-21050,Supervisor General de Recursos Humanos,Recursos Humanos,Mandos Medios,674,NaN,1455,Perez,Andrea,andrea.perez@tractchun.com

In [60]:
puestos_emp_inner.drop(["Unnamed: 0_x"], axis = 1, inplace = True)

In [61]:
puestos_emp_inner.drop(["Unnamed: 0_y"], axis = 1, inplace = True)

In [62]:
puestos_emp_inner.sample(5)

,id_puesto,puesto,departamento,tipo_puesto,turno,id_empleado,apellido,nombre,email
1153,50-33200,Supervisor General de Control de Producción,CONTROL DE PRODUCCION,Mandos Medios,NaN,556,Parra,Jhon,jhon .parra@tractchun.com
502,15-24100,Supervisor de Producción,PRODUCCION,Mandos Medios,NaN,691,Hoyos,Yomaira,yomaira.hoyos @tractchun.com
1298,55-23200,Ingeniero de Manufactura,INGENIERIA DE MANUFACTURA,Operativo,NaN,754,MARTINEZ,GERARDO,gerardo.martinez@tractchun.com
59,10-32100,Supervisor de Almacén,MATERIALES,Mandos Medios,NaN,902,BURGOS,EDA,eda.burgos@tractchun.com
1095,50-33100,Supervisor de Control de Producción,CONTROL DE PRODUCCION,Mandos Medios,NaN,142,NAVARRO,ERIKA,erika.navarro@tractchun.com

<p>5. Guardad los dataframes en dos csv diferentes que usaremos mañana en la clase de pair programming </p>

In [63]:
puestos_emp_inner.to_csv("datos/PairPandasV-2.csv")
concat1.to_csv("datos/PairPandasV-1.csv")