In [55]:
import pandas as pd
import numpy as np
import datetime as dt
import re

In [43]:
df_tickets =pd.read_csv("DATOS/tickets_completo.csv")
df_a침os = pd.read_csv("DATOS/PairPandasV-1.csv")
df_empleados = pd.read_csv("DATOS/empleados_tickets.csv")

In [44]:
df_tickets.head(2)

,Unnamed: 0,Unnamed: 0.1,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,a침o,mes,semestre
0,0,0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016,7,semestre2
1,1,1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016,5,semestre1

In [45]:
type(df_tickets["fecha"][0])

str

In [46]:
df_tickets["fecha"] = df_tickets["fecha"].apply(pd.to_datetime)

<p>1. Cread una columna nueva y una funci칩n que nos de el mes en el que se solicit칩 el servicio. Tened en cuenta que todas las filas tienen la misma estructura. A la hora de escribir la funci칩n debemos tener en cuenta que puede que no haya la informaci칩n de mes en la columna de la fecha. En ese caso devolved un nulo (NaN).</p>
<p>游늷 Nota La fecha tendr치 que ir formato de string como "Enero", "Febrero", etc.</p>
<p>游눠 Pista 游눠Podr칠is usar regex, pero no es estrictamente necesario.</p>

In [47]:
def devolver_mes(fecha):
    try:
        return fecha.strftime("%B")
    except:
        return np.nan

In [48]:
df_tickets["mes2"]=df_tickets["fecha"].apply(devolver_mes)

In [49]:
df_tickets.sample(2)

,Unnamed: 0,Unnamed: 0.1,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,a침o,mes,semestre,mes2
96807,96919,28509,TWLTNR-0144067387,2020-08-24,1548.0,23.0,Acceso/Login,Solicitud,2 - Normal,1 - Baja,1.0,4.0,2020,8,semestre2,August
64846,64958,18038,TDLTSR-5043594696,2019-05-09,1049.0,6.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,14.0,5.0,2019,5,semestre1,May

<p>2. En la tabla de empleados, tenemos los nombres y los apellidos de los empleados, pero en columnas separadas. En los ejercicios de pair de la lecci칩n del groupby vimos que si quisieramos agrupar por los nombres, esto se nos puede complicar. Ahora nos piden que creemos una columna donde tengamos el nombre y el apellido juntos.</p>
<p>游늷 NOTA La columna nueva debe tener el nombre y apellido con la primera letra en may칰sculas, por ejemplo "Jes칰s Villa".</p>
<p>游늷 NOTA Una vez hallamos creado la columna nueva, eliminad las columnas de nombre y apellido originales.</p>

In [50]:
df_empleados.sample(2)

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,...,a침o,Unnamed: 0_y,id_puesto,puesto,departamento,tipo_puesto,turno,apellido,nombre,email
85198,85198,GDLESR-7443941549,2020-04-20 00:00:00,214.0,45.0,Sistema,Problema,2 - Normal,0 - Sin Asignar,4.0,...,2020,144,15-24000,Gerente de Producci칩n,PRODUCCION,Gerencia,NaN,Velez,Carmen,carmen .velez@tractchun.com
42074,42074,TDLESR-0643274925,2018-06-23 00:00:00,352.0,39.0,Sistema,Problema,2 - Normal,0 - Sin Asignar,16.0,...,2018,1310,55-23200,Ingeniero de Manufactura,INGENIERIA DE MANUFACTURA,Operativo,NaN,PADILLA,MARIA,maria.padilla@tractchun.com

In [52]:
df_empleados["categor칤a"].unique()

array(['Acceso&%Login', 'Sistema', 'Acceso%&Login', 'Software',
       'Hardware', 'Acceso-&Login', 'Acceso99Login', 'Acceso/Login', nan],
      dtype=object)

In [67]:
var = "Sistema"

In [68]:
l = re.findall("[A-Z|a-z]+",var)
f = "/".join(l)
f

'Sistema'

In [71]:
def combinar_columnas(col1, col2):
    try:
        return (col1 + " "+col2).title()
    except:
        return np.nan

In [72]:
df_empleados["nombres"] = df_empleados.apply(lambda dataframe: combinar_columnas(dataframe["nombre"],dataframe["apellido"]), axis = 1)

In [73]:
df_empleados.sample(2)

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,...,Unnamed: 0_y,id_puesto,puesto,departamento,tipo_puesto,turno,apellido,nombre,email,nombres
38590,38590,KMLTSR-8742843787,2017-04-18 00:00:00,188.0,27.0,Sistema,Solicitud,2 - Normal,2 - Media,7.0,...,319,15-24100,Supervisor de Producci칩n,PRODUCCION,Mandos Medios,NaN,BARRAZA,GREGORIA,gregoria.barraza@tractchun.com,Gregoria Barraza
74248,74248,GWLTNR-8043501683,2019-02-05 00:00:00,1878.0,26.0,Acceso99Login,Solicitud,2 - Normal,1 - Baja,0.0,...,124,15-22210,Supervisor de Mantenimiento,PRODUCCION,Mandos Medios,NaN,Zea,Jairo,jairo.zea@tractchun.com,Jairo Zea

In [74]:
df_empleados.drop(columns=["nombre", "apellido"], inplace = True)

In [75]:
df_empleados.sample(2)

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,a침o,Unnamed: 0_y,id_puesto,puesto,departamento,tipo_puesto,turno,email,nombres
95412,95412,SDLTNR-5044196094,2020-12-31 00:00:00,1819.0,50.0,Acceso/Login,Solicitud,2 - Normal,0 - Sin Asignar,0.0,4.0,2020,817,30-13400,Auditor interno de calidad,"AUDITORIA INTERNA, CALIBRACION Y METROLOGIA",Administrativo,NaN,agapita.valencia@tractchun.com,Agapita Valencia
7913,7913,SDLTER-3042622202,2016-09-09,1170.0,32.0,Software,Solicitud,2 - Normal,0 - Sin Asignar,10.0,4.0,2016,1986,90-14100,Ingeniero de Calidad,INGENIERIA DE CALIDAD,Operativo,NaN,daniel.valencia@tractchun.com,Daniel Valencia

<p>3. En el pair programming desde a direcci칩n nos ped칤an que agruparamos los datos en base a la columna de "categor칤a", puede que en aquel momento nos dieramos cuenta que hab칤a var칤as categor칤as que eran igual (en concreto "Acceso Login") pero que en algunos casos ten칤a unos s칤mbolos raros (&, %, -). Es el momento de limpiar esta columna. El objetivo, reemplazar todos estos s칤mbolos raros por "/", para conseguir homogeneizar los valores de esta columna. Para ellos deberemos crear una funci칩n.</p>

In [76]:
def limpieza_datos(string):
    try:
        l = re.findall("[A-Z|a-z]+",string)
        f = "/".join(l)
        return f
    except:
        return np.nan

In [77]:
df_empleados["categor칤a"] = df_empleados["categor칤a"].apply(limpieza_datos)

In [78]:
df_empleados["categor칤a"].unique()

array(['Acceso/Login', 'Sistema', 'Software', 'Hardware', nan],
      dtype=object)

<p>4. Una vez que hay치is terminado eliminad las columnas originales conservando las nuevas.</p>

In [ ]:
#Lo hemos sobreescrito

<p>5. Guardad el dataframe en un csv que usaremos m치s adelante. </p>

In [80]:
df_empleados.to_csv("DATOS/PairPandas7.csv")